body {
  background-color: #fff;
}
#container1 {
  background-color: #fff;
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
}
/*#container {
  width: 2px;
  border: none;
  margin: 0 auto;
}
  #container {
  width: 1200px;
  margin: 20px auto;
}
#header {
  width: 100%;
  height: 120px;
  background-color: #fff;
}
#left-sidebar {
  width: 250px;
  height: 600px;
  background-color: #fff;
  float: left;
}
#contents {
  width: 800px;
  height: 600px;
  background-color: #fff;
  float: left;
}
#right-sidebar {
  width: 150px;
  height: 600px;
  float: left;
  background-color: #fff;
}
#footer {
  width: 100%;
  height: 100px;
  background-color: #fff;
  clear: left;
}
*/
.profile-page .username {
  color: #536471;
}

a {
  color: #1d9bf0;
}
b {
  color: #0f1419;
}
p {
  color: #fff;
}
#circle {
  border-radius: 50%;
}

.accent {
  font-size: 100%;
}
.row {
  display: flex;
}
.box1 {
  width: 70px;
  height: 30px;
  border-style: solid;
  float: right;
  margin-right: 220px;
  background-color: #222;
}
.accent {
  text-align: right;
}
#round {
  border-radius: 40px;
}
* {
  box-sizing: border-box;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  margin: 0 20px;
  border: 1px solid #fff;
}

#pos {
  position: absolute;
  top: 100px;
  left: 20px;
}

h2 {
  margin: 0px;
}

h1 {
  margin: 0px;
}
a {
  text-decoration: none;
}
